# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:** 
# List popular languages for Data Science
- Pyhton
- R
- SQL

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

# Some of the commonly used libraries used by Data Scientists include:
1. Apache Hadoop
2. Apache Hive
3. Apache Pig
4. Apache Mahout

## Data Science Tools

| Data Science Tools | 
| -------------|
| RStudio| 
| Apache Spark | 
| TensorFlow |

###  Below are a few examples of evaluating arithmetic expressions in Python
simple_arithimetic = (3*4)+5
simple_arithimetic = (3-1)/1

In [4]:
# This a simple arithmetic expression to mutiply then add integers.
simple_arithimetic = (3*4)+5
simple_arithimetic

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
hours_to_minutes = 200/60
print(f"{hours_to_minutes} hours")

3.3333333333333335 hours

## Author
HY Carolyne Tso